{{ header }}
<style>
  .help-categories-under-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: green;
  }
  .help-categories-under-search a {
    margin: 10px;
    color: white;
  }
  .help-content {
    padding: 20px 0;
  }
  .help-content a {
    color: #000;
    text-underline: none;
    text-decoration: none;
  }
  .help-category-parent {
    font-size: 18px;
  }
</style>
<div id="help-nik" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}

      <h2>{{ text_faq }}</h2>
      <div id="help_search" class="input-group">
        <input type="text" name="help_search" value="{{ help_search }}" placeholder="{{ text_help_search }}" class="form-control input-lg" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
        </span>
      </div>
      <div class="help-categories-under-search">
        {% for search_help_category in search_help_categories %}
          <a href="{{ search_help_category.link }}"><span>{{ search_help_category.title }}</span></a>
        {% endfor %}
      </div>

      <div class="help-content">
        <a class="help-category-parent" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          Link with href
          <i class="fa fa-arrow-right"></i>
        </a>
        <div class="collapse" id="collapseExample">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}