{{ header }}
<style>
  .help-categories-under-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    background-color: green;
  }
  .help-categories-under-search a {
    margin: 10px;
    color: white;
  }
  .help-content {
    padding: 20px 0;
  }
  .help-content a {
    color: #000;
    text-underline: none;
    text-decoration: none;
  }
  .help-category-parent {
    font-size: 18px;
    margin-bottom: 20px;
  }
</style>
<div id="help-nik" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
      {{ content_top }}

      <h2>{{ text_faq }}</h2>
      <div id="help_search" class="input-group">
        <input type="text" name="help_search" value="{{ help_search }}" placeholder="{{ text_help_search }}" class="form-control input-lg" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
        </span>
      </div>
      <div class="help-categories-under-search">
        {% for search_help_category in search_help_categories %}
          <a href="{{ search_help_category.link }}"><span>{{ search_help_category.title }}</span></a>
        {% endfor %}
      </div>

      <div class="help-content">


        {# TODO: RECURSION #}
        {% for help_category in help_categories %}
          <a {% if help_category.parent_id == '0' %}class="help-category-parent" {% endif %} data-toggle="collapse" href="#collapseExample{{ help_category.help_category_id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ help_category.help_category_id }}">
            {{ help_category.title }}
            <i class="fa fa-arrow-right"></i>
          </a>
          <div class="collapse" id="collapseExample{{ help_category.help_category_id }}">
            {% for article in help_category.articles %}
              <a data-toggle="collapse" href="#collapseExample{{ article.help_article_id }}{{ article.help_category_id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ article.help_article_id }}{{ article.help_category_id }}">
                {{ article.title }}
                <i class="fa fa-arrow-right"></i>
              </a>
              <div class="collapse" id="collapseExample{{ article.help_article_id }}{{ article.help_category_id }}">
                {{ article.description }}
              </div>
            {% endfor %}
          </div>
          <br>
        {% endfor %}


      </div>

      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script>
  $('#help_search input[name=\'help_search\']').parent().find('button').on('click', function() {
    var url = $('base').attr('href') + 'index.php?route=extension/module/help_nik/faq';

    var value = $('#help_search input[name=\'help_search\']').val();

    if (value) {
      url += '&help_search=' + encodeURIComponent(value);
    }

    location = url;
  });
</script>
{{ footer }}