{{ header }}
<style>
  .add-material-container {
    text-align: right;
  }
  .add-material-btn {
    margin: 10px 0;
  }
  .help-categories-block {
    padding: 10px;
  }
  .help-category-block-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    margin: 5px 0;
    padding: 5px;
  }
</style>
{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_info }}</h3>
      </div>
      <div class="panel-body">
        <form action="" method="post" enctype="multipart/form-data" id="form-info" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-stories-module-link">{{ entry_module_link }}</label>
            <div class="col-sm-10">
              <input type="text" name="module_help_nik_module_link" value="{{ module_help_nik_module_link }}" placeholder="{{ entry_module_link }}" id="input-module-link" disabled="disabled" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-stories-module-link">{{ entry_for_add_module_seo_link }}</label>
            <div class="col-sm-10">
              <span>{{ help_for_add_module_seo_link }}</span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-information" class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_help_support }}</h3>
        </div>
        <div class="panel-body">
          <div class="add-material-container">
            <a href="{{ addSupport }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary add-material-btn">{{ button_add_support }}</a>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <td class="text-left">
                  {% if sort == 'hsd.title' %}
                    <a href="{{ sort_support_title }}" class="{{ order|lower }}">{{ column_title_support }}</a>
                  {% else %}
                    <a href="{{ sort_support_title }}">{{ column_title_support }}</a>
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if sort == 'hs.sort_order' %}
                    <a href="{{ sort_support_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                  {% else %}
                    <a href="{{ sort_support_sort_order }}">{{ column_sort_order }}</a>
                  {% endif %}
                </td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody>
              {% if help_supports %}
                {% for help_support in help_supports %}
                  <tr>
                    <td class="text-left">{{ help_support.title }}</td>
                    <td class="text-right">{{ help_support.sort_order }}</td>
                    <td class="text-right">
                      <a href="{{ help_support.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                      <span onclick="confirm('{{ confirm_delete_help_support }}') ? location = '{{ help_support.delete }}' : false;" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></span>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_help_certificate }}</h3>
        </div>
        <div class="panel-body">
          <div class="add-material-container">
            <a href="{{ changeSettings }}" data-toggle="tooltip" title="{{ button_help_settings }}" class="btn btn-primary add-material-btn"><i class="fa fa-gear"></i></a>
            <a href="{{ addCategory }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary add-material-btn">{{ button_add_category }}</a>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <td class="text-left">
                  {% if sort == 'hcd.title' %}
                    <a href="{{ sort_category_title }}" class="{{ order|lower }}">{{ column_title_category }}</a>
                  {% else %}
                    <a href="{{ sort_category_title }}">{{ column_title_category }}</a>
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if sort == 'hc.sort_order' %}
                    <a href="{{ sort_category_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                  {% else %}
                    <a href="{{ sort_category_sort_order }}">{{ column_sort_order }}</a>
                  {% endif %}
                </td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody>
              {% if help_categories %}
                {% for help_category in help_categories %}
                  <tr>
                    <td class="text-left">{{ help_category.title }}</td>
                    <td class="text-right">{{ help_category.sort_order }}</td>
                    <td class="text-right">
                      <a href="{{ help_category.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                      <span onclick="confirm('{{ confirm_delete_help_category }}') ? location = '{{ help_category.delete }}' : false;" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></span>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
          {% if addArticle %}
            <div class="add-material-container">
              <a href="{{ addArticle }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary add-material-btn">{{ button_add_article }}</a>
            </div>
          {% endif %}
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead>
              <tr>
                <td class="text-left">
                  {% if sort == 'had.title' %}
                    <a href="{{ sort_article_title }}" class="{{ order|lower }}">{{ column_title_article }}</a>
                  {% else %}
                    <a href="{{ sort_article_title }}">{{ column_title_article }}</a>
                  {% endif %}
                </td>
                <td class="text-right">
                  {% if sort == 'ha.sort_order' %}
                    <a href="{{ sort_article_sort_order }}" class="{{ order|lower }}">{{ column_sort_order }}</a>
                  {% else %}
                    <a href="{{ sort_article_sort_order }}">{{ column_sort_order }}</a>
                  {% endif %}
                </td>
                <td class="text-right">{{ column_action }}</td>
              </tr>
              </thead>
              <tbody>
              {% if help_articles %}
                {% for help_article in help_articles %}
                  <tr>
                    <td class="text-left">{{ help_article.title }}</td>
                    <td class="text-right">{{ help_article.sort_order }}</td>
                    <td class="text-right">
                      <a href="{{ help_article.edit }}" data-toggle="tooltip" title="{{ button_edit }}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                      <span onclick="confirm('{{ confirm_delete_help_article }}') ? location = '{{ help_article.delete }}' : false;" data-toggle="tooltip" title="{{ button_delete }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></span>
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                <tr>
                  <td class="text-center" colspan="4">{{ text_no_results }}</td>
                </tr>
              {% endif %}
              </tbody>
            </table>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-title">{{ entry_articles_display_module }}</label>
            <div class="col-sm-10">
              <div class="col-sm-6">
                <h4>{{ text_not_added_help_articles }}</h4>
                <div class="help-categories-block not-added-help-display-categories-block">
                  {% for help_category in for_display_help_categories %}
                    <a data-toggle="collapse" style="display: block; color: black; font-size: 15px; margin: 10px 0;" href="#collapseExample{{ help_category.help_category_id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ help_category.help_category_id }}">
                      {{ help_category.title }}
                      <i class="fa fa-arrow-down"></i>
                    </a>
                    <div class="collapse" id="collapseExample{{ help_category.help_category_id }}">
                      {% for help_article in help_category.help_articles %}
                        <div class="help-category-block-item">
                          <span>{{ help_article.title }}</span>
                          <button class="btn btn-success" type="button" data-help-category-id="{{ help_category.help_category_id }}" data-help-article-id="{{ help_article.help_article_id }}" data-help-article-title="{{ help_article.title }}"><i class="fa fa-plus"></i></button>
                        </div>
                      {% endfor %}
                    </div>
                    {% for help_category_child in help_category.children %}
                      <a data-toggle="collapse" style="display: block; color: black; font-size: 15px; margin: 10px 0;" href="#collapseExample{{ help_category_child.help_category_id }}" role="button" aria-expanded="false" aria-controls="collapseExample{{ help_category_child.help_category_id }}">
                        {{ help_category_child.title }}
                        <i class="fa fa-arrow-down"></i>
                      </a>
                      <div class="collapse" id="collapseExample{{ help_category_child.help_category_id }}">
                        {% for help_article_child in help_category_child.help_articles %}
                          <div class="help-category-block-item">
                            <span>{{ help_article_child.title }}</span>
                            <button class="btn btn-success" type="button" data-help-category-id="{{ help_category_child.help_category_id }}" data-help-article-id="{{ help_article_child.help_article_id }}" data-help-article-title="{{ help_article_child.title }}"><i class="fa fa-plus"></i></button>
                          </div>
                        {% endfor %}
                      </div>
                    {% endfor %}
                  {% endfor %}
                </div>
              </div>
              <div class="col-sm-6">
                <h4>{{ text_added_help_articles }}</h4>
                <div class="help-categories-block added-help-display-categories-block">
                  {% for display_help_article in display_help_articles %}
                    <div class="help-category-block-item">
                      <span>{{ display_help_article.title }}</span>
                      <input type="hidden" name="module_help_nik_display_articles[]" value="{{ display_help_article.help_article_id }}" data-help-article-title="{{ display_help_article.title }}" data-help-category-id="{{ display_help_article.help_category_id }}">
                      <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_help_nik_status" id="input-status" class="form-control">
                {% if module_help_nik_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script>
    $('.not-added-help-display-categories-block').delegate('.btn-success', 'click', function () {
        let helpCategoryId = $(this).attr('data-help-category-id')
        let helpArticleId = $(this).attr('data-help-article-id')
        let helpArticleTitle = $(this).attr('data-help-article-title')

        let html = '';
        html =  '<div class="help-category-block-item">\n' +
            '   <span>' + helpArticleTitle + '</span>\n' +
            '   <input type="hidden" name="module_help_nik_display_articles[]" value="' + helpArticleId + '" data-help-article-title="' + helpArticleTitle + '" data-help-category-id="' + helpCategoryId + '">\n' +
            '   <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>\n' +
            '</div>'

        $('.added-help-display-categories-block').append(html)

        $(this).parent().remove()
    })
    $('.added-help-display-categories-block').delegate('.btn-danger', 'click', function() {
        let helpCategoryId = $(this).parent().find('input').attr('data-help-category-id')
        let helpArticleId = $(this).parent().find('input').val()
        let helpArticleTitle = $(this).parent().find('input').attr('data-help-article-title')

        let html = ''

        html =  '<div class="help-category-block-item">\n' +
            '   <span>' + helpArticleTitle + '</span>\n' +
            '   <button type="button" class="btn btn-success" data-help-article-title="' + helpArticleTitle + '" data-help-category-id="' + helpCategoryId +'" data-help-article-id="' + helpArticleId +'"><i class="fa fa-plus"></i></button>\n' +
            '</div>'

        $('.not-added-help-display-categories-block #collapseExample' + helpCategoryId).append(html)

        $(this).parent().remove();
    });
</script>
{{ footer }}
